######################
# Node
######################
node_modules/
node
vendor
/dist/
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

######################
# Logs
######################
*.log

target
.tmp
logs
log.instance.dir_IS_UNDEFINED
application.logs.dir_IS_UNDEFINED
e2e-reports
cucumberReport.json
*.orig

# IntelliJ
*.launch
.idea/
*.iml
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
tree.txt


.DS_STORE
*.ipr
*.iws
lib/*.zip
version.properties
.sass-cache
swagger-ui.sublime-workspace
.project
node_modules/*
/nbproject/private/

package-lock.json
